@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
  }
}

@layer components {
  .bg-background {
    background-color: rgb(var(--background));
  }
  .text-foreground {
    color: rgb(var(--foreground));
  }
}
